.id_col {
    text-align: right;
    margin: 0;
    padding: 5px;
}
.col {
    margin: 0;
    padding: 5px;
}
.even {
    background-color: #e0e0e0;
}
.users_table {
    border-spacing: 0;
    border-collapse: collapse;
}
.tr {
    margin: 0;
    padding: 0;
}
